@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  --cyan: hsl(180, 66%, 49%);
  --dviolet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --grey: hsl(0, 0%, 75%);
  --gviolet: hsl(257, 7%, 63%);
  --dblue: hsl(255, 11%, 22%);
  --vdviolet: hsl(260, 8%, 14%);
}
html {
  font-size: 16px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: hsla(258, 7%, 63%, 0.123);
}
main {
  background-color: hsla(258, 7%, 63%, 0.123);
}
/* header */
header {
  display: flex;
  background-color: white;
}
#logo {
  width: 35%;
}
/* header */

/* hero section */
.hero {
  margin-bottom: 50px;
}
/* .more{
  overflow: hidden;
} */
.more {
  background-color: white;
}
.menulinks:hover {
  cursor: pointer;
}
p {
  font-size: 0.7rem;
  color: var(--gviolet);
}
h1 {
  font-size: 1.4rem;
  color: var(--dviolet);
}
.text {
  margin: 10px;
}

/* hero section ends */
.getstarted {
  margin-top: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: var(--cyan);
  padding: 5px 20px;
  border-radius: 25px;
}
.getstarted:hover {
  cursor: pointer;
}
/* shorten section */
.short {
  margin: 20px;
  background-image: url(./images/bg-shorten-mobile.svg);
  background-size: contain;
  background-position: right;
  background-color: var(--dviolet);
  background-repeat: no-repeat;
  padding: 15px;
  border-radius: 5px;
}
#link {
  padding: 5px;
  font-size: 0.6rem;
  width: 100%;
  border-radius: 3px;
  border: none;
  margin-bottom: 5px;
}
#submit {
  width: 100%;
  background-color: var(--cyan);
  border: none;
  color: white;
  font-size: 0.7rem;
  margin-top: 5px;
  padding: 5px;
  border-radius: 3px;
}
.shortener {
  font-size: 0.6rem;
  color: var(--cyan);
  background-color: white;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.shortlinks {
  align-self: center;
  margin-right: 5px;
  overflow: hidden;
}
#copybutton {
  color: white;
  outline: none;
  border: none;
  width: calc(100% - 40px);
  margin-top: 10px;
  background-color: var(--cyan);
  border-radius: 5px;
}
/* shorten section ends*/

/* info section */
.stats {
  text-align: center;
}
#advanced {
}
h2#advanced {
  font-size: 1.2rem;
  margin: 10px;
}
#advpara {
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.7rem;
}
h2 {
  font-size: 1rem;
  color: vat(--dviolet);
}
.flex {
  display: flex;
}
.card {
  margin: 20px;
  margin-bottom: 30px;
  background-color: white;
  padding: 10px;
}
.card p {
  font-size: 0.6rem;
}
.card h2 {
  font-size: 0.8rem;
  margin-bottom: 10px;
}
.imgcircle {
  background-color: var(--dviolet);
  width: fit-content;
  padding: 5px 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 50%;
  margin-top: -30px;
  margin-right: auto;
  margin-left: auto;
}
.imgcircle img {
  width: 25px;
  margin: 5px auto;
}
/* info section ends */
/* boost link  */
.boost {
  background-color: var(--dviolet);
  background-image: url(./images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 20px;
}
.boost h1 {
  color: white;
  font-size: 0.8rem;
}

/* boost link ends  */

/* footer */
footer {
  color: white;
  background-color: var(--vdviolet);
  font-size: 10px;
}
#logo {
  margin-top: 20px;
}
footer a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 10px;
}
.footlinks {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.icons {
  width: 0.8rem;
  margin: 20px 5px;
}
.icons:hover {
  cursor: pointer;
}
/* footer ends*/

/* mobile view */
@media screen and (max-width: 600px) {
  .more img {
    width: 105%;
  }
  body {
    text-align: center;
  }
  main {
    overflow: hidden;
  }
  .hero {
    margin: 0px 20px;
    position: relative;
  }

  .hero img {
    width: 125%;
    margin-left: 20px;
  }
  .boost {
    background-image: url(./images/bg-boost-desktop.svg);
  }
  .flex {
    flex-direction: column;
  }
  .blueline {
    width: 0.3rem;
    background: var(--cyan);
    height: 20rem;
    position: absolute;
    z-index: -1;
  }
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: var(--dviolet);
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  .menulinks:hover {
    cursor: pointer;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 20px;
    padding-top: 10px;
  }
  #line {
    width: 100%;
    background-color: var(--gviolet);
    opacity: 30%;
    height: 0.5px;
  }
  .menu button {
    border: none;
    outline: none;
    padding: 5px;
    width: 100%;
    background-color: var(--cyan);
    color: white;
    border-radius: 25px;
  }
  .menulinks {
    margin-top: 10px;
  }
  #hamburger {
    width: 12%;
    margin-top: auto;
  }
  .more {
    padding-bottom: 20px;
  }
  #copybutton {
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: auto;
  }
}

@media screen and (min-width: 601px) {
  main {
    overflow: hidden;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15%;
  }
  header #logo {
    width: 95%;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
  .menu {
    /* margin-top: 50px; */
    display: flex;
  }
  .menulinks {
    margin-right: 10px;
    font-size: 0.5rem;
    margin-top: 50px;
  }
  .left {
    display: flex;
    margin-left: 0px;
  }
  .right {
    display: flex;
  }
  .right button {
    background-color: var(--cyan);
    color: white;
    border-radius: 10px;
    padding: 2px 10px;
    align-self: center;
    border: none;
    outline: none;
  }
  #hamburger {
    display: none;
  }
  .text h1 {
    font-size: 3rem;
    margin-top: 25px;
  }
  .more {
    background-color: white;
    padding-bottom: 80px;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    padding-left: 15%;
    padding-right: 15%;
  }
  .more img {
    width: 100%;
    height: fit-content;
    align-self: center;
    margin-right: -40%;
  }
  /* .hero {
    margin: 20px 100px;
  } */
  .short {
    margin-top: -40px;
    margin-left: 15%;
    margin-right: 15%;
    flex-direction: row;
  }
  form {
    display: flex;
    margin: 10px;
  }
  form #link {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
  }
  form #submit {
    width: 30%;
    padding: inherit 20px;
    margin-left: 10px;
    margin-top: auto;
  }
  .shortener {
    background-color: white;
    display: none;
    border-radius: 5px;
    padding: 10px;
    margin: 15%;
    justify-content: space-between;
    margin-right: 15%;
    margin-top: inherit;
    align-items: center;
  }
  #copybutton {
    width: 20%;
    margin-top: auto;
    /* padding: auto 15px; */
  }
  .blueline {
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  .boost {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  .boost h1 {
    font-size: 1.5rem;
  }
  .flex {
    margin: auto 15%;
  }
  .card {
    text-align: center;
    border-radius: 5px;
  }
  .card p {
    font-size: 0.6rem;
  }
  .brand {
    height: fit-content;
  }
  .records {
    margin-top: 50px;
    margin-bottom: 30px;
    height: fit-content;
  }
  .customise {
    margin-top: 80px;
  }
  footer {
    display: flex;
    justify-content: space-around;
    padding: 25px 10%;
  }
  footer #logo {
    width: 15%;
    height: fit-content;
    align-self: center;
  }
  footer .socials {
    margin-top: 5px;
  }
}
